{% extends 'inventario/base.html' %}

{% block content %}
<h1 class="main-title">Materiales para Realizar Rosas</h1>
<a href="{% url 'formulario_material' %}" class="btn btn-primary mb-3">Agregar Material</a>
<table class="table table-striped" id="tabla">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Stock Disponible</th>
            <th>Precio Unitario</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for material in materiales %}
        <tr>
            <td>
                {% if material.foto %}
                    <img src="{{ material.foto.url }}" alt="Foto de {{ material.nombre }}" width="80">
                {% endif %}
            </td>
            <td>{{ material.nombre }}</td>
            <td>{{ material.descripcion }}</td>
            <td>{{ material.existencia.cantidad_disponible|default:"0" }} {{ material.unidad_medida }}</td>
            <td>${{ material.precio_unitario }}</td>
            <td>
                <a href="{% url 'editar_material' material.id %}" class="btn btn-sm btn-warning">Editar</a>
                <button onclick="confirmDelete('{% url 'eliminar_material' material.id %}')" class="btn btn-sm btn-danger">Eliminar</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
